<nav class="navbar navbar-inverse">
    <div class="container text-center">
        <h3 class="titulo">VisitaRio</h3>
    </div>
</nav>
<div class="interface container">
    <a href="#/hospitais" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="hospital">
        <img src="img/icons/hospitais.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Hospitais</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/delegacias" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="delegacia">
        <img src="img/icons/delegacias.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Delegacias</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/praias" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="praias">
        <img src="img/icons/praias.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Praias</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/turismo" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="pontos">
        <img src="img/icons/pontos-turisticos.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Pontos turísticos</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/comer" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="comer">
        <img src="img/icons/onde-comer.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Onde comer</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/dormir" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="dormir">
        <img src="img/icons/onde-dormir.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Onde dormir</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/eventos" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="eventos">
        <img src="img/icons/eventos.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Eventos</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
    <a href="#/banheiros" class="btn btn-default btn-lg btn-block btnMenu col-xs-12" id="banheiros">
        <img src="img/icons/banheiros.png" alt="Icone" class="img-responsive pull-left icone">
        <span>Banheiros</span>
        <span class="glyphicon glyphicon-menu-right pull-right"></span>
    </a>
</div>
<div class="rodape col-xs-12 col-lg-12 col-md-12 col-sm-12">
    <div class="container text-center">
    </div>
</div>